body{
background-color: #B2C8DF;
font-family: 'Roboto', sans-serif;
}

.navbar-nav{
font-size: medium;
padding-right: 7rem;
}

.DivLogo{
  padding-left: 50px;
;
}

.blaempresa{
  margin-left: 15px;
  margin-right: 15px;
}

.banalisis{
  margin-left: 15px;
  margin-right: 15px;
}

.bcontacto{
  margin-left: 15px;
  margin-right: 15px;
}

.binicio{
  margin-left: 15px;
  margin-right: 15px;
}


.blaempresa:hover{
  background-color: #6E85B7;
  border-radius: 50px 50px 50px 10px;
  color: white;
}

.banalisis:hover{
  background-color: #6E85B7;
  border-radius: 50px 50px 50px 10px;
  color: white;
}

.bcontacto:hover{
  background-color: #6E85B7;
  border-radius: 50px 50px 50px 10px;
  color: white;
}

.Seccion1{
  background: rgb(107,172,204);
  background: linear-gradient(127deg, rgba(107,172,204,1) 0%, rgba(107,172,204,1) 28%, rgba(110,133,183,1) 70%);
  color: #ffffff;
  padding: 2rem;
}

.Texto1{
  font-size: 25px;
  text-align: center;
}


.Texto1:hover{
  color: aquamarine;
}

.Des1{
  font-size: 15px;
  text-align: center;
  display: flex;
  justify-content: center;
  padding: 1rem 50px 0rem 50px;

}

.manito{
  width: 60px;
  height: 60px;
  display: block;
  margin-left: auto;
  margin-right: auto;

}


.Titulitos{
  font-size: 1rem;
  display: flex;
  justify-content: space-evenly;
  padding-top: 2rem;


}

.Titulitos:hover{
  color: aquamarine;
}

.derechos{
background: linear-gradient(127deg, rgba(107,172,204,1) 0%, rgba(107,172,204,1) 28%, rgba(110,133,183,1) 70%);
color: white;
text-align: center
}
